{% extends "shop/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Login {% endblock title %}
{% block content %}
  <section class="hero-section bg-light py-4">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <div class="breadcrumbs">
              <span class="item"><a href=" {% url "home_page" %} ">Home /</a></span>
              <span class="item">My Account</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="login-form" class="py-5">
    <div class="container-sm">
      <div class="row justify-content-center">
        <div class="col-4">
          <h2 class="section-title text-uppercase">Login</h2>
          <form id="form" class="form-group flex-wrap" method="post">
            {% csrf_token %}
            <div class="col-12 pb-3">
              {{ form.username.label_tag }}
              {{ form.username|add_class:"form-control" }}
              {{ form.username.errors }}
            </div>
            <div class="col-12 pb-3">
              {{ form.password.label_tag }}
              {{ form.password|add_class:"form-control" }}
              {{ form.password.errors }}
            </div>
            <div class="col-12 pb-3">
              <label>
                <input type="checkbox" required="">
                <span class="label-body">Remember me</span>
              </label>
            </div>
            <div class="col-12">
              <button type="submit" name="submit" class="btn btn-dark btn-large text-uppercase pb-3">Log in</button>
              <p><a href="{% url 'forgot_password' %}">Lost your password?</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}